<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello <%= name %></h1>
        <p>Welcome to our humble application</p>
        <button class="btn btn-sucess" id="show-metrics">
            Bring the metrics
        </button>
        <div id="metrics"></div>
    </div>
</body>

<script>
    $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON("/metrics.json", {}, (data) => {
            const content = data.map(d => {
                return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
            })
            $('#metrics').append(content.join("\n"));
        });
    })
</script>

</html>